{% extends "portfolio_project/base.html"%}

{% block title %} Python Project - Amdibd {% endblock%}

{% block top-bar%}

{% endblock %}

{% block content %}
    <div><h1 id="id_title">Python Project - Amdibd</h1></div> 
    <h2 style="color:red;text-align: center;">UNDER CONSTRUCTION</h2>

    <div>
        <p>Link to the Github Repo:</p>
        <a href="">
            <img src="static/portfolio_project/icons/github-logo.jpg" alt="GitHub Link" style="height:50px;">
        </a>        
    </div>

    <p id="page_summary"> 
        Lorem ipsum odor amet, consectetuer adipiscing elit. 
        Duis lacinia vehicula aptent etiam conubia nunc viverra 
        ullamcorper aptent. Sodales phasellus natoque imperdiet 
        natoque consequat lacinia nunc proin. Vel montes suscipit 
        penatibus lacinia nunc suspendisse sed potenti cubilia. 
        Est interdum magnis, ad tortor ligula ornare. Iaculis 
        quisque viverra arcu; aptent lobortis elit. Placerat tortor 
        placerat pulvinar; nam metus feugiat sodales. Integer vivamus 
        euismod porta nostra mattis augue per magnis. Orci posuere dapibus 
        torquent curabitur curabitur volutpat at.
    </p>
    <p>
        Add Link to GitHub Account
    </p>

{% endblock%}