<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>{% block title %} {% endblock %}</title>
        {% load static%}
        <link rel="stylesheet" type="text/css" href="static/portfolio_project/portfolio.css">
        <style>

        </style>
    </head>
    <body>
        <div id="id_header_div">
            <div>
                <h1>Angel's Portfolio</h1>
            </div>

            <div id="id_top_bar">
                {% block top-bar%}
                {% endblock %}
            </div>
            <div style="text-align: left;">
                <form method="post">
                    <button id="cat-button"type="submit" name="category-tab">&#9776;</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>




        <div class="sidebar"style="display:{{bdisplay}};">
            <form method="post" >
                <button id="close_button" type="submit" name="close">X</button>
                {% csrf_token %}
            </form>
            
            
            <a href="{% url 'main'%}"><span class="text" >Home</span></a>
            <a href="{% url 'class'%}"><span class="text">Class Projects</span></a>
            <a href="{%url 'it'%}"><span class="text">IT Projects</span></a>
            <a href="{% url 'personal'%}"><span class="text">Personal Projects</span></a> 
            <a href="{% url 'cad'%}"><span class="text">CAD Projects</span></a> 
            <a href=""><span class="text">Resume</span></a>
            <a href="{% url 'contact'%}"><span class="text">Contact</span></a>
         
        <div id="id_body_content">
            {% if message %}
                {{message}}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>