<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>{% block title %} {% endblock %}</title>
        {% load static%}
        <link rel="stylesheet" type="text/css" href="static/portfolio_project/portfolio.css">
        <style>

        </style>
    </head>
    <body>
        <div id="id_header_div">
            <div>
                <a id="page_title" href="{% url 'main'%}" ><h1 >Angel's Portfolio</h1></a>
            </div>

            <div id="id_top_bar">
                {% block top-bar%}
                {% endblock %}
            </div>
            <div style="text-align: left;">
                <form method="post">
                    <button id="cat-button" type="submit" name="category-tab" style="display:{{category_button}};">&#9776;</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>




        <div class="sidebar" style="display:{{sidebar_display}}; width: {{sidebar_width}};">
            <form method="post">
                <button id="close_button" style="border:none;">|||</button>
                {% csrf_token %}
            </form>
            <a class="project_link" href="{% url 'main'%}"><span class="text" >Home</span></a>
            <div id="id_class_project_page">
                <div class="category_line">
                    <div class="title_div">
                        <a class="project_link" href="{% url 'class'%}" >
                            <span>Class Projects</span>
                        </a>                  
                    </div>      
                    <div class="arr_button_div">
                        <form method="post">
                            <button class="arr_button" name="class_proj_button" ><i class="arrow"></i></button>
                            {% csrf_token %}
                        </form>                        
                    </div>
                </div>
                <div id="id_class_project_list" class="list" style="display:{{class_proj_button}};">
                    <a class="individual_link" href="{% url 'ece_capstone'%}" ><span>∟ECE Capstone</span></a>
                    <a class="individual_link" href="{% url 'web_apps'%}"><span>∟Web Application</span></a>
                </div>
            </div>
            <div id="id_IT_projects">
                <div class="category_line">
                    <div class="title_div">
                        <a class="project_link" href="{% url 'it' %}">
                            <span class="text">IT Projects  </span>
                        </a>
                    </div>
                    <div class="arr_button_div">
                        <form method="post">
                            <button class="arr_button" name="IT_proj_button"><i class="arrow"></i></button>
                            {% csrf_token %}
                        </form>                         
                    </div>
                </div>
                <div id="id_IT_project_list" class="list" style="display:{{IT_proj_button}};">
                    <a class="individual_link" href="{% url 'amdibd' %}" ><span>∟Amdibd</span></a>
                    <a class="individual_link" href="{% url 'key_tracking' %}" ><span>∟Key Tracking</span></a>            
                    <a class="individual_link" href="{% url 'odoo' %}"><span>∟ODOO</span></a>
                </div>
            </div>
            <div id="id_personal_projects">
                <div class="category_line">
                    <div class="title_div">
                        <a class="project_link" href="{% url 'personal'%}">
                            <span class="text">Personal Projects</span>
                        </a>                        
                    </div>
                    <div class="arr_button_div">
                        <form method="post">
                            <button class="arr_button" name="personal_proj_button"><i class="arrow"></i></button>
                            {% csrf_token %}
                        </form>                           
                    </div>
                                      
                </div>

                <div id="id_personal_projects_list" class="list" style="display:{{personal_proj_button}};">
                    <a class="individual_link" href="{% url 'reu_main' %}"><span>∟REU Website</span></a>
                </div>
            </div>
            <div id="id_cad_projects"> 
                <div class="category_line">
                    <div class="title_div">
                        <a class="project_link" href="{% url 'cad'%}">
                            <span class="text">CAD Projects    </span>
                        </a>                               
                    </div>
                    <div class="arr_button_div">
                        <form method="post">
                            <button class="arr_button" name="cad_proj_button"><i class="arrow"></i></button>
                            {% csrf_token %}
                        </form>                           
                    </div>
                 
                </div>

                <div id="id_cad_projects_list" class="list" style="display:{{cad_proj_button}};">
                    <a class="individual_link" href="{% url 'ece_cad' %}" ><span>∟ECE Capstone CAD</span></a>
                </div>
            </div>
            <a class="project_link" href="{% url 'resume'%}"><span class="text">Resume</span></a>
            <a class="project_link" href="{% url 'contact'%}"><span class="text">Contact</span></a>
        </div>
        <div id="id_body_content" style="margin-left: {{main_left}};">
            {% if message %}
                {{message}}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>