{% extends "portfolio_project/base.html"%}

{% block title %} Homepage {% endblock%}

{% block top-bar%}

{% endblock %}

{% block content %} 
    <div><h1 id="id_title">CAD Projects</h1></div> 

    <div id="id_capstone_cad" class="box_blurb">
        <div class="title_line">
            <h2 class="box_title">ECE Capstone - CAD Outlines</h2>
            <p class="box_timeline">Timeline: Jan 2024 - May 2025</p>
        </div>        
        <p class="box_content">ADD INFORMATION</p>
        <a class="box_content" href="{% url 'ece_cad'%}">See More...</a>
        <br><br>
    </div>
    <div class="box_blurb">
        <div class="title_line">
            <h2 class="box_title">ADD MORE!!!!</h2>
            <p class="box_timeline">Timeline: MTH 20XX - MTH 20XX</p>
        </div>  
        <p class="box_content">ADD INFORMATION</p>
        <a class="box_content" href="">See More...</a>
        <br><br>
    </div>
{% endblock%}