{% extends "portfolio_project/base.html"%}


{% block content %} 
    <div><h1 id="id_title">Contact Information</h1></div> 

    <div class="wrap">
        <img src="static/portfolio_project/ERN24HS-No-Glasses.jpg" alt="Professional Headshot" height="400em">
    </div>
   
    <div>
        <h1>Angel Wanjiru Nyaga</h1>
        <p id="page_summary"> 
            I recieved a degree in Electrical and Computer Engineering
            with a concentration in Signal and Systems. While attending 
            Carnegie Mellon, I was employeed as an associate in the 
            IT department for the Chemcial Engineering Department. Due
            to the quality of the support we provided, we expanded and 
            began to support the Material Science and Engineering 
            Department, and the Biomedical Engineering Department.
            <br><br>
            My course work and employment experience has encouraged me 
            to pursue --- and Cybersecruity

            
        </p>
    </div>
    
{% endblock%}