{% extends "portfolio_project/base.html"%}

{% block title %} Homepage {% endblock%}

{% block top-bar%}

{% endblock %}

{% block content %}
    <div><h1 id="id_title">Welcome to My Portfolio</h1></div> 

    <p id="page_summary"> 
        The purpose of this page is to act as a portfolio for all of my past projects.
        These projects included projects completed in academic courses, research projects,
        employment opportunites, and more. These projects cover a range of engineering and
        technology topics including software engineering, hardware engineering, design, and more.
        ..........
    </p>
    <div id="biography" class="box_blurb">
        <div class="title_line">
            <h2 class="box_title">Who am I....</h2>
        </div>
        <p class="box_content">ADD INFORMATION</p>
    </div>
{% endblock%}