{% extends "portfolio_project/base.html"%}

{% block title %} ODOO - ChemE Lab Store {% endblock%}

{% block top-bar%}

{% endblock %}

{% block content %}
    <div><h1 id="id_title">ODOO - ChemE Lab Store </h1></div> 

    <p id="page_summary"> 
        This project was brought to my department by the Lab Manager
        for the Chemical Engineering Department. The department has
        several labs that each have their own inventory. Buying lab 
        supplies is dependent on whether a professor requests the supplies,
        the lab needs the supplies, or if an item needs to be replaced.
        <br><br>
        Our job was to select and implement a payment platform. One role
        for this platform was to maintain inventory of products. This would
        make it so the Lab Manager could amply?? order the necessary supplies 
        from distributors if we our platform ran low. Another role for this 
        platfrom was to track payment of supplies from different professors.
        The payment platform needed to require that an oracle string must 
        be used for platform. This platform also needed to have a simple UI 
        that could be displayed on an IPAD used by a student worker.
        <br><br>
        We selected the ODOO platform 
        .....ADDDD.......


        
    </p>

    <p>
        add pictures of odoo
    </p>

    <p>app a picture of lab store</p>
{% endblock%}