body{
    margin: 0;
    background:rgba(213, 215, 230, 0.5); 
}

#id_header_div{
    padding: 1em;
    background-color: rgb(9, 9, 139);
    color:aliceblue;
    text-align: center;
}

/**
https://codepen.io/sean_codes/pen/zwJQeB
**/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #8974e4;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: rgba(29, 9, 87, 0.746);
    padding: 16px;
    text-decoration: none;
}
    
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
}
}


#close_button{
    background-color: transparent;
    border:0;
    text-align: left;
    padding: 16px;
    color:rgb(2, 10, 83);
    font-size: 25px;
    font-weight:bold;
    width: 100%;
}

#cat-button{
    text-align: left;      
    background-color: transparent;
    font-size: 25px;
    color:rgb(251, 236, 245);
    border-width:0px;
  
}