body{
    margin: 0;
    background:rgba(213, 215, 230, 0.5); 
}

#id_header_div{
    padding: 1em;
    background-color: rgb(9, 9, 139);
    color:aliceblue;
    text-align: center;
}

#page_title{
    color:white;
    font-size:large;
    text-decoration: none;
    font-family:"Gill Sans Extrabold", sans-serif;
    text-transform: uppercase;
}

#page_summary{
    font-size:1.3em;
}

.arr_button {
    background-color: transparent;
    border: none;
}
/**
https://codepen.io/sean_codes/pen/zwJQeB
**/

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #a59bd8;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: rgba(29, 9, 87, 0.746);
    padding: 16px;
    text-decoration: none;
}
    
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}


.sidebar div.category_line:hover:not(.active), 
.sidebar a:hover:not(.active){
    background-color: #39235b;
    color: white;

} 

[class='arrow down']:hover:not(.active){
    border: solid #f0f0f0; 
}


div.content {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px 16px;
    height: 1000px;
}

.article_button{
    background-color: #563fbd;
}

.arr_button_div{
    width:20%;
}
.title_div{
    width:80%;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


#close_button{
    background-color: transparent;
    color:rgb(251, 236, 245);    
    font-size: 30px;
    font-weight:bold;
    text-align: left;
    width: 100%;
}

#cat-button{
    background-color: transparent;    
    color:rgb(251, 236, 245);
    font-size: 25px;
    font-weight:bold;
    text-align: left;      
}

#id_title{
    padding: 1em;
    text-align: center;
    font-style: Ro;
}


.title_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box_blurb{
    margin: 1em 3em 1em 3em;
    background-color: #8974e4;
    border-radius: 1.5em;
}

.box_title{
    color: aliceblue;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.box_timeline{
    color: aliceblue;
    padding: 1em;
    margin-right: 3em;
    font-size: 20px;
}

.box_content{
    color: aliceblue;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#id_body_content{
    margin-left:8em;
    margin-right:8em;
}


.wrap {
    float: left; 
    margin: 5px;
    padding-right:2em;
    padding-bottom: 1em;
}

.arrow{
    border: solid  rgba(29, 9, 87, 0.746);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
/* .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); 
}*/
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



